.app-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
    border: 1px solid grey;
    margin: 30px;
}
.app-container h3 {
    text-align: center;
}

.todoAdder-container{
    /* border: 1px solid red; */
    
    text-align: center;
}
.todo-input{
    align-self: center;
    /* padding:10px; */
    width: 43%;
    background-color: white;
    height: 50px;
    /* margin: 20px; */
    border: 1px solid black;
    font-size: 1rem;
}
.btn{
   height: 50px;
   margin-left: 10px;
}
.alert{
    width: 50%;
    align-self: center;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background: linear-gradient(to right, #5c258d , #f3a183);
    color: white;
    font-size: 1.5rem;
    text-align: center;  
}
.alert:hover{
    cursor: pointer;
    opacity: 0.5;
}
.todo-container{
    padding:20px;
    text-align: center;
}

.todoItem{
    padding:6px;
}